<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQdnwAFyC3LG_8JApdk_O1gv0j4JH9U1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>287785767417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koo.jeremy.ios.InstagramTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftui-b0810</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftui-b0810.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287785767417:ios:5e080d5bd0494dbd8b6d28</string>
</dict>
</plist>